html{
  background-color:#444;
  background: url(/posts/backgrounds/images/20.gif);
  padding:0 1em;
}
body {
  background-color:#FFF;
  font-family:Arial, Helvetica, sans-serif;
  padding:2em;
  margin:1em auto;
  border:2px solid #000;
  max-width: 50em;
}
#address{
  font-size: 1.25rem;
  color:red;
}
#contact{
  text-align:right;
}
#name{
  color:red;
  font-size: 2.5rem;
  font-family: Times;
  font-weight: 900;
  font-style: italic;
}
.date {
  float:left;
  font-size:1em;
  margin:0 0 0 -16em;
  text-align:right;
}
abbr, acronym{
  border-bottom:1px dotted #333;
  cursor:help;
}
address{
  font-style:italic;
  color:#333;
  font-size:.9em;
}
.content{
  width:32em;
  margin:0 0 0 16em;
}
.section{
  margin: 0;
  padding:1em 0;
  color:red;
}
.subsection{

}
.subsection > .uniname{
  /* color:yellow; */
  font-weight: bold;
  font-family: Times;
}
.subsection > .degreename{
  /* color:blue; */
  font-style: italic;
  font-family:Times;
}
.sectionheader{
  font-variant: small-caps;
  font-family: Times;
  font-size:1.3em;
  letter-spacing: .06em;
  font-weight: bold;
  color:black;
  border-bottom:1px solid #000;
}
li{
  padding-left:-.5em;
  margin-left:-.5em;
  margin: 6px -10px 0px -22px;
}
h1{
  margin:0 0 .1em 0;
  padding:1em 0 0 0;
  font-size:1.75em;
  /* border-bottom:3px double #000; */
}
h2 {
  font-size:1.3em;
  font-variant: small-caps;
  letter-spacing: .06em;
  border-bottom:1px solid #000;
}
li > span {
  margin-left:1.1em;
}
