.P91 { font-size:11pt; text-align:left ! important; font-family:Calibri; vertical-align:top; writing-mode:lr-tb; margin-left:0.0634in; margin-right:0.0016in; margin-top:0.0098in; margin-bottom:0in; text-indent:0in; }
.P58 { font-size:11pt; text-align:left ! important; font-family:Calibri; vertical-align:top; writing-mode:lr-tb; margin-left:0.0634in; margin-right:0in; margin-bottom:0in; text-indent:0in; }
.T29 { font-family:ＭＳ 明朝; font-size:10.5pt;  }
.T27 { font-family:Century; font-size:10.5pt; font-weight:bold; }
